
// typing dot animation

.animate-typing .dot {
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin-right: -1px;
    background: var(--bs-secondary-color);
    -webkit-animation: wave 1.3s linear infinite;
    animation: wave 1.3s linear infinite;
    opacity: .6;
    margin-right: 1px;
  }
  
  .animate-typing .dot:nth-child(2) {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
  }
  
  .animate-typing .dot:nth-child(3) {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
  }
  
  @-webkit-keyframes wave {
    0%,100%,60% {
        -webkit-transform: initial;
        transform: initial
    }
  
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
  }
  
  @keyframes wave {
    0%,100%,60% {
        -webkit-transform: initial;
        transform: initial
    }
  
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
  }
  