.chat-bookmark-list,
.chat-call-list {
	max-height: calc(100vh - 68px);
}

.chat-bookmark-list li,
.chat-call-list li {
	border-bottom: 1px solid #eaeaf1;
	border-bottom: 1px solid var(--bs-border-color);
	padding: 10px 24px;
	position: relative;
}

.chat-list li a {
	color: #495057;
	color: var(--bs-body-color);
	display: block;
	font-size: 14px;
	padding: 5px 24px;
	transition: all .4s;
}

@media (min-width: 1200px) {

	.h4,
	h4 {
		font-size: 1.3125rem;
	}
}

.simplebar-wrapper {
	height: inherit;
	max-height: inherit;
	max-width: inherit;
	overflow: hidden;
	width: inherit;
}

.simplebar-height-auto-observer-wrapper {
	box-sizing: inherit !important;
	flex-basis: 0;
	flex-grow: inherit;
	flex-shrink: 0;
	float: left;
	height: 100%;
	margin: 0;
	max-height: 1px;
	max-width: 1px;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	position: relative;
	width: 100%;
	z-index: -1;
}

.simplebar-height-auto-observer {
	box-sizing: inherit;
	display: block;
	height: 1000%;
	left: 0;
	min-height: 1px;
	min-width: 1px;
	opacity: 0;
	top: 0;
	width: 1000%;
	z-index: -1;
}

.simplebar-mask,
.simplebar-offset {
	bottom: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
}

.simplebar-mask {
	direction: inherit;
	height: auto !important;
	left: 0;
	overflow: hidden;
	right: 0;
	width: auto !important;
	z-index: 0;
}

.simplebar-mask,
.simplebar-offset {
	bottom: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
}

.simplebar-offset {
	-webkit-overflow-scrolling: touch;
	box-sizing: inherit !important;
	direction: inherit !important;
	left: 0 !important;
	resize: none !important;
	right: 0 !important;
}

.simplebar-height-auto-observer,
.simplebar-track {
	overflow: hidden;
	pointer-events: none;
	position: absolute;
}

.simplebar-content-wrapper {
	box-sizing: border-box !important;
	direction: inherit;
	display: block;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
	padding: 0 !important;
	position: relative;
	scrollbar-width: none;
	visibility: visible;
	width: auto;
}

.font-size-14 {
	font-size: 14px !important;
}

a,
button {
	outline: none !important;
}

a {
	text-decoration: none !important;
}

.avatar-xs {
	height: 1.8rem;
	width: 1.8rem;
}

.avatar-title {
	align-items: center;
	background-color: #4eac6d;
	background-color: rgba(var(--bs-primary-rgb), 1);
	color: #fff;
	display: flex;
	font-weight: 500;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.bg-primary-subtle {
	background-color: #4eac6d40 !important;
	background-color: rgba(var(--bs-primary-rgb), .25) !important;
}

.chat-user-img {
	position: relative;
}

.avatar-sm {
	height: 2.4rem;
	width: 2.4rem;
}

.avatar-xs {
	height: 1.8rem;
	width: 1.8rem;
}

.avatar-title {
	align-items: center;
	background-color: #4eac6d;
	background-color: rgba(var(--bs-primary-rgb), 1);
	color: #fff;
	display: flex;
	font-weight: 500;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.fs-6 {
	font-size: 1rem !important;
}
.bkm-sticker-img{
	width: 24px;
    height: 20px;
}