<div class="container">
	<div class="screen">
		<div class="screen__content">
			<div class="brand-section">
      <div class="logo-container gradient-bg">
        <div class="logo-icon">
          <i class='bx bx-message-dots'></i>
        </div>
      </div>
      <h1 class="brand-title">Sign Up</h1>
      <p class="brand-subtitle">Sign UP to chat anoymously</p>
    

			<form class="login">
				<div class="login__field">
					
					<!-- <i class="login__icon fas fa fa-user"></i> -->
					<i class='login__icon bx bx-user'></i>
					<input type="text" class="login__input" placeholder="Enter full name" [(ngModel)]="regObj.fullName" name="fullName" required>
				</div>
				<div class="login__field">
					<!-- <i class="login__icon fas fa fa-user"></i> -->
					<i class='login__icon bx bx-user'></i>
					<input type="text" class="login__input" placeholder="User name / Email" [(ngModel)]="regObj.email" name="email" required>
				</div>
				<div class="login__field">
					<!-- <i class="login__icon fas fa fa-lock"></i> -->
					<i class='login__icon bx bxs-key'></i>
					<input type="password" class="login__input" placeholder="Password"[(ngModel)]="regObj.password" name="password" required>
				</div>
				<button class="button login__submit" type="button" (click)="onReg()">
					<span class="button__text">Register now</span>
					<!-- <i class="button__icon fa fa-chevron-right"></i>
					<i class="button__icon fa-solid fa-chevron-right"></i> -->
					<i class='button__icon bx bx-chevron-right'></i>
					<i class='button__icon bx bxs-chevron-right' ></i>
				</button>				
			</form>
			<div class="social-login">
				<!-- <h3>Register</h3> -->
				<br>
				<br>
				<a class="nav-link" routerLink="/login">login</a>
				<div class="social-icons">
					<!-- <a href="#" class="social-login__icon fa fa-instagram"></a>
					<a href="#" class="social-login__icon fa fa-facebook"></a>
					<a href="#" class="social-login__icon fa fa-twitter"></a> -->
					<a href="#" class="social-login__icon bx bxl-instagram"></a>
					<a href="#" class="social-login__icon bx bxl-facebook"></a>
					<a href="#" class="social-login__icon bx bxl-twitter"></a>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>	