.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  color: #495057;
  color: var(--bs-heading-color);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.bg-primary{
  --bs-bg-opacity: 1;
    background-color: rgba(78, 172, 109, var(--bs-bg-opacity)) !important;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}
.form-control-lg {
  border-radius: 0.4rem;
  border-radius: var(--bs-border-radius-lg);
  font-size: 0.875rem;
  min-height: calc(1.5em + 1rem + 2px);
  min-height: calc(1.5em + 1rem + var(--bs-border-width) * 2);
  padding: 0.5rem 1rem;
}
.btn-light {
  background-color: #f6f6f9;
  background-color: var(--bs-light);
  border-color: #f6f6f9;
  border-top-color: rgb(246, 246, 249);
  border-right-color: rgb(246, 246, 249);
  border-bottom-color: rgb(246, 246, 249);
  border-left-color: rgb(246, 246, 249);
  border-color: var(--bs-light);
  // color:var(--bs-btn-color);
}
.btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 0.9375rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  // --bs-btn-bg: #0000;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: #0000;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: #0000;
  --bs-btn-box-shadow: inset 0 1px 0 #ffffff26, 0 1px 1px rgba(0,0,0,.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0 rgba(var(--bs-btn-focus-shadow-rgb),.5);
  background-color: var(--bs-btn-bg);
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
}

.btn-soft-primary:active, .btn-soft-primary:focus, .btn-soft-primary:hover {
  background-color: rgba(var(--bs-primary-rgb));
  color: #fff !important;
}
.btn-soft-primary {
  // background-color: #4eac6d1a;
  background-color: rgba(var(--bs-primary-rgb), .1);
  color: #4eac6d;
  color: rgba(var(--bs-primary-rgb), 1);
}
.btn-soft-primary {
  border-color: #0000;
}
.form-control {
  -webkit-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  background-color: var(--bs-input-bg);
  border: 1px solid #eaeaf1;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: .25rem;
  border-radius: var(--bs-border-radius);
  color: #495057;
  color: var(--bs-body-color);
  display: block;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .5rem 1rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;
}
.input-group {
  flex-wrap: nowrap !important;
}
.form-control:focus {
  background-color: #fff;
  background-color: var(--bs-input-bg);
  border-color: #eaeaf1;
  border-top-color: rgb(234, 234, 241);
  border-right-color: rgb(234, 234, 241);
  border-bottom-color: rgb(234, 234, 241);
  border-left-color: rgb(234, 234, 241);
  border-color: var(--bs-border-color);
  box-shadow: 0 0 0 0 #4eac6d40;
  color: #495057;
  color: var(--bs-body-color);
  outline: 0;
}
// .text-muted {
//   --bs-text-opacity: 1;
//   color: #495057bf !important;
//   color: var(--bs-secondary-color) !important;
// }
.bg-light {
  --bs-bg-opacity: 1;
  // background-color: rgba(246, 246, 249, var(--bs-bg-opacity)) !important;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

a {
  text-decoration: none !important;
}

.btn-light {
  color:var(--bs-btn-color);
}
.btn-primary {
  background-color: #4eac6de6;
  background-color: rgba(var(--bs-primary-rgb), 0.9);
  border-color: #4eac6de6;
  border-color: rgba(var(--bs-primary-rgb), 0.9);
}
[class*=' color-scheme-dark-'] .btn-light {
  background-color: #f6f6f9;
  background-color: var(--bs-light);
  border-color: #f6f6f9;
  border-color: var(--bs-light);
  color: #fff;
}
.layout-wrapper {
  display: flex;
  height: 100vh;
}
@media (max-width: 991.98px) {
  .layout-wrapper.d-lg-flex {
    display: block;
    unicode-bidi: isolate;
  }
}
.badge {
  --bs-badge-padding-x: .6em;
  --bs-badge-padding-y: .35em;
  --bs-badge-font-size: .75em;
  --bs-badge-font-weight: 700;
  --bs-badge-color: #fff;
  --bs-badge-border-radius: var(--bs-border-radius);
  display: inline-block;
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  vertical-align: baseline;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  white-space: nowrap;
  border-radius: var(--bs-badge-border-radius);
}


/* left side start */
.chat-leftsidebar {
  // background-color: #fff;
  background-color: var(--bs-sidebar-sub-bg);
  box-shadow: 0 2px 4px #0f223a1f;
  height: calc(100vh - 60px);
  position: relative;
}
@media (min-width: 992px) {
  .chat-leftsidebar {
    height: 100vh;
    max-width: 300px;
    min-width: 300px;
  }
}
.chat-room-list {
  max-height: calc(100vh - 130px);
}
[data-simplebar] {
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
}
.simplebar-wrapper {
  height: inherit;
  max-height: inherit;
  max-width: inherit;
  overflow: hidden;
  width: inherit;
}
.simplebar-mask,
.simplebar-offset {
  bottom: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0px;
}
.simplebar-mask {
  direction: inherit;
  // height: auto !important;
  height: inherit !important;
  max-height: inherit;
  left: 0;
  overflow: auto;
  right: 0;
  width: auto !important;
  z-index: 0;
}
// .simplebar-mask:hover{
//   overflow: scroll;
// }
// .simplebar-mask::-webkit-scrollbar {
//   width: 5px;
//   // height: 18px;
//   color: red;
// }
.simplebar-mask::-webkit-scrollbar {
  display: none;
}

.simplebar-offset {
  -webkit-overflow-scrolling: touch;
  box-sizing: inherit !important;
  direction: inherit !important;
  left: 0 !important;
  resize: none !important;
  right: 0 !important;
}
.simplebar-content-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.simplebar-content-wrapper {
  box-sizing: border-box !important;
  direction: inherit;
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: 0 !important;
  position: relative;
  scrollbar-width: none;
  visibility: visible;
  width: auto;
}
#searchbtn-addon{
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
.simplebar-content:after,
.simplebar-content:before {
  content: " ";
  display: table;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.chat-list {
  margin: 0;
}
.list-inline,
.list-unstyled {
  list-style: none;
  padding-left: 0;
}
.chat-list li a {
  /* color: #495057; */
  color: var(--bs-body-color);;
  display: block;
  font-size: 14px;
  padding: 5px 24px;
  transition: all 0.4s;
}
.chat-list li.active a {
  background-color: #4eac6d;
  background-color: rgba(var(--bs-primary-rgb), 1);
  color: #fff;
}
.chat-list li.active a .badge {
  background-color: rgba(246, 246, 249, .25) !important;
  color: #fff !important;
}
.chat-list .rounded {
  border-radius: var(--bs-border-radius) !important;
}
.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.chat-user-img {
  position: relative;
}
.ms-0 {
  margin-left: 0 !important;
}
.me-2 {
  margin-right: 0.5rem !important;
}
.align-self-center {
  align-self: center !important;
}
.avatar-xs {
  height: 1.8rem;
  width: 1.8rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
img,
svg {
  vertical-align: middle;
}

.overflow-hidden {
  overflow: hidden !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chat-list li .unread-msg-user {
  font-weight: 600;
}
/* left side end */

// chat welcome section start
.chat-welcome-section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
}
.avatar-title {
  align-items: center;
  background-color: #4eac6d;
  background-color: rgba(var(--bs-primary-rgb), 1);
  color: #fff;
  display: flex;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.bg-soft-primary {
  background-color: #4eac6d33 !important;
}
.text-primary {
  --bs-text-opacity: 1;
  color: rgba(78, 172, 109, var(--bs-text-opacity)) !important;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}
.avatar-xl {
  height: 6rem;
  width: 6rem;
}
.text-muted {
  --bs-text-opacity: 1;
  color: #495057bf !important;
  color: var(--bs-secondary-color) !important;
}
.btn-dark, .btn-secondary {
  color: #f9f9f9 !important;
}
#new-message button{
  padding: 2px 10px;
} 
.chat-welcome-section .w-lg {
  min-width: 140px;
}
// chat welcome section end


// ===========Profile tab content start============
// #pills-user .user-profile-img, #pills-setting .user-profile-img {
//   position: relative;
// }
// #pills-user .user-profile-img .profile-img, #pills-setting .user-profile-img .profile-img {
//   height: 250px;
//   object-fit: cover;
//   width: 100%;
// }
// #pills-user .user-profile-img .overlay-content, #pills-setting .user-profile-img .overlay-content {
//   background: linear-gradient(180deg, #00000080 10%, #0000 60%, #00000080);
//   bottom: 0;
//   color: #fff9;
//   content: "";
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   left: 0;
//   position: absolute;
//   right: 0;
//   top: 0;
// }
// #pills-user .user-profile-img img.profile-img{
//   position: relative !important;
// }
.h5, h5 {
  font-size: 1.171875rem;
}
#user-chat .user-chat-nav .nav-btn {
  box-shadow: none;
  color: #495057bf;
  color: var(--bs-secondary-color);
  font-size: 22px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  width: 40px;
}
// #pills-user .user-chat-nav .nav-btn {
//   box-shadow: none;
//   color: #495057bf;
//   color: var(--bs-secondary-color);
//   font-size: 22px;
//   height: 40px;
//   line-height: 40px;
//   padding: 0;
//   width: 40px;
// }
// #pills-user .dropdown-menu {
//   animation-duration: .3s;
//   animation-fill-mode: both;
//   animation-name: DropDownSlide;
//   box-shadow: 0 2px 4px #0f223a1f;
//   position: absolute;
//   z-index: 1000;
//   --bs-dropdown-font-size: 0.9375rem;
// }
// #pills-user .dropdown-item {
//   background-color: #0000;
//   border: 0;
//   border-radius: 0;
//   border-radius: var(--bs-dropdown-item-border-radius, 0);
//   clear: both;
//   color: var(--bs-dropdown-link-color);
//   display: block;
//   font-weight: 400;
//   padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
//   text-align: inherit;
//   white-space: nowrap;
//   width: 100%;
// }
.font-size-16 {
  font-size: 16px !important;
}
// #pills-user .avatar-lg {
//   height: 5rem;
//   width: 5rem;
//   object-fit: cover;
// }
.mt-n5 {
  margin-top: -3rem !important;
}
@media (min-width: 992px) {
  .pt-lg-2 {
      padding-top: .5rem !important;
  }
}
.font-size-14 {
  font-size: 14px !important;
}
// #pills-user .profile-desc {
//   height: calc(100vh - 285px);
// }
// #pills-user .simplebar-height-auto-observer, #pills-user .simplebar-track {
//   overflow: hidden;
//   pointer-events: none;
//   position: absolute;
// }
// #pills-user .simplebar-height-auto-observer {
//   box-sizing: inherit;
//   display: block;
//   height: 1000%;
//   left: 0;
//   min-height: 1px;
//   min-width: 1px;
//   opacity: 0;
//   top: 0;
//   width: 1000%;
//   z-index: -1;
// }
.font-size-12 {
  font-size: 12px !important;
}
// #pills-user .bg-overlay {
//   background-color: #212529b3;
//   bottom: 0;
//   height: 100%;
//   left: 0;
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 100%;
// }
// #pills-user .profile-media-img .media-img-list .image-remove, #pills-user .profile-media-img .media-img-list a .bg-overlay {
//   align-items: center;
//   color: #fff;
//   display: flex;
//   justify-content: center;
// }
// #pills-user .simplebar-mask,
// #pills-user .simplebar-offset {
//   position: absolute;
// }

// #pills-user .user-status {
//   background-color: #adb5bd;
//   border: 2px solid #fff;
//   border: 2px solid var(--bs-secondary-bg);
//   border-radius: 50%;
//   bottom: 0;
//   top: 67px;
//   height: 13px;
//   /* left: 36px; */
//   position: absolute;
//   right: 117px;
//   width: 13px;
// }
// @media (max-width: 991.98px) {
//   #pills-user .user-status{
//     top: 59px;
//     right: 18px;
//     position: relative;
//   }
// }
// #pills-user .profile-media-img .media-img-list .image-remove, 
// #pills-user .profile-media-img .media-img-list a .bg-overlay {
//   align-items: center;
//   color: #fff;
//   display: flex;
//   justify-content: center;
// }
// #pills-user .profile-media-img .media-img-list a img {
//   width: 68px !important;
// }
// #pills-user .profile-media-img{
//   flex-wrap: wrap;
// }
// Profile tab content end

// =========== contact tab content start ==================
// =========== contact tab content end ==================


.font-size-10 {
  font-size: 10px !important;
}
.font-size-13 {
  font-size: 13px !important;
}



// for avatar image and status 
.avatar-sm {
  height: 2.4rem;
  width: 2.4rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
img,
svg {
  vertical-align: middle;
}
.chat-user-img.online .user-status {
  background-color: #06d6a0;
}
.chat-user-img .user-status {
  background-color: #adb5bd;
  border: 2px solid #fff;
  border: 2px solid var(--bs-secondary-bg);
  border-radius: 50%;
  bottom: 0;
  height: 10px;
  left: auto;
  position: absolute;
  right: 0;
  width: 10px;
}
.chat-user-img {
  position: relative;
}
.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(6, 214, 160, var(--bs-bg-opacity)) !important;
  background-color: rgba(
    var(--bs-success-rgb),
    var(--bs-bg-opacity)
  ) !important;
}
.font-size-18 {
  font-size: 18px !important;
}


/* ================= user chat start ==================== */
#user-chat {
  // background-image: url("/assets/media/pattern-05.png");
  background-color: var(--bs-body-bg);
}
.user-chat {
  transition: all .4s;
  position: relative;
  // z-index: 1;
}
.user-chat .user-chat-overlay {
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  opacity: .1;
  background: rgb(var(--bs-primary-rgb));
}
@media (min-width: 992px) {
  .user-chat.user-chat-show .chat-content {
    display: flex !important;
  }
}
@media (max-width: 991.98px) {
  .user-chat {
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      transform: translateX(100%);
      visibility: hidden;
      width: 100%;
      z-index: 99;
  }
}
@media (max-width: 991.98px) {
  .user-chat.user-chat-show {
      transform: translateX(0);
      visibility: visible;
  }
}
.user-chat .chat-content {
  position: relative;
}
@media (min-width: 992px) {
  .d-lg-flex {
    display: flex !important;
  }
}
.position-relative {
  position: relative !important;
}



// /* conv list div other side start */
.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  flex-basis: 0;
  flex-grow: inherit;
  flex-shrink: 0;
  float: left;
  height: 100%;
  margin: 0;
  max-height: 1px;
  max-width: 1px;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: relative;
  width: 100%;
  z-index: -1;
}

// .dropdown-menu[data-bs-popper] {
//   left: 0;
//   margin-top: var(--bs-dropdown-spacer);
//   top: 100%;
// }
// .dropdown-menu {
//   animation-duration: 0.3s;
//   animation-fill-mode: both;
//   animation-name: DropDownSlide;
//   box-shadow: 0 2px 4px #0f223a1f;
//   position: absolute;
//   z-index: 1000;
// }

// /* canv list bottom start */
// the same classes present in contact tab
.simplebar-track.simplebar-horizontal {
  height: 11px;
  left: 0;
}
.simplebar-track {
  bottom: 0;
  right: 0;
  z-index: 1;
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}
.simplebar-scrollbar {
  min-height: 10px;
  position: absolute;
  right: 2px;
  width: 7px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  bottom: 2px;
  top: 2px;
}
.simplebar-height-auto-observer, .simplebar-track {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}
.simplebar-scrollbar:before {
  background: #a2adb7;
  border-radius: 7px;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: opacity .2s linear;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: .5;
  transition: opacity 0s linear;
}
// /* canv list bottom end */

/* ================= user chat end ==================== */


.skeleton {
  border-radius: 5px;
  background: linear-gradient(90deg, #f0f0f0 25%, #f8f8f8 50%, #f0f0f0 75%);
  background-size: 400% 100%;
  animation: loading 1.5s infinite;
}

.chat-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.content {
  flex-grow: 1;
  height: 20px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.font-size-11 {
  font-size: 11px !important;
}
body {
  font-family: var(--bs-body-font-family);
}
// before left side start
.side-menu {
  background-color: #2e2e2e;
  background-color: var(--bs-sidebar-bg);
  border-right: 1px solid #2e2e2e;
  border-right: 1px solid var(--bs-sidebar-bg);
  display: flex;
  height: 100vh;
  max-width: 75px;
  min-height: 570px;
  min-width: 75px;
  padding: 0 8px;
  z-index: 9;
  flex-direction: column;
}
@media (max-width: 991.98px) {
  .side-menu {
      border-top: 1px solid #2e2e2e;
      border-top: 1px solid var(--bs-sidebar-bg);
      bottom: 0;
      height: 60px;
      min-height: auto;
      min-width: 100%;
      position: fixed;
  }
}
@media (min-width: 992px) {
  .flex-lg-column {
      flex-direction: column !important;
  }
}
.side-menu .navbar-brand-box {
  text-align: center;
}
@media (max-width: 991.98px) {
  .side-menu .navbar-brand-box {
      display: none;
  }
}
.side-menu .navbar-brand-box .logo-dark {
  display: block;
}
.side-menu .navbar-brand-box .logo {
  line-height: 70px;
}
.side-menu .navbar-brand-box .logo-light {
  display: none;
}
.side-menu .navbar-brand-box svg {
  fill: #4eac6d;
  fill: rgba(var(--bs-primary-rgb), 1);
}
.side-menu a {
  color: #4eac6d;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}
img, svg {
  vertical-align: middle;
}
.sidemenu-navigation {
  height: 100%;
}
@media (max-width: 991.98px) {
  .sidemenu-navigation {
      width: 100%;
  }
}
@media (min-width: 992px) {
  .flex-lg-column {
      flex-direction: column !important;
  }
}
.side-menu-nav {
  flex-direction: column;
  height: 100%;
}
@media (max-width: 991.98px) {
  .side-menu-nav {
      flex-direction: row;
      justify-content: space-between !important;
  }
}
.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #4eac6d;
}
.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

@media (max-width: 991.98px) {
  .side-menu-nav .nav-item {
      flex-basis: 0;
      flex-grow: 1;
      margin: 5px 0;
  }
}
.side-menu-nav .nav-item {
  display: block;
  margin: 7px 0;
  width: 100%;
}
@media (min-width: 992px) {
  .d-lg-block {
      display: block !important;
  }
}
.side-menu-nav .nav-item .nav-link {
  border-radius: 0;
  color: #878a92;
  color: var(--bs-sidebar-menu-item-color);
  font-size: 28px;
  height: 56px;
  line-height: 56px;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
}
@media (max-width: 991.98px) {
  .side-menu-nav .nav-item .nav-link {
    font-size: 20px;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    width: 48px;
  }
}
.nav-pills .nav-link {
  border-radius: var(--bs-nav-pills-border-radius);
}
.nav-pills>a, .nav-pills>li>a, .nav-tabs>li>a {
  color: #495057;
  font-weight: 500;
}
.nav-link {
  background: none;
  border: 0;
  color: var(--bs-nav-link-color);
  display: block;
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.side-menu-nav .nav-item .nav-link.active {
  background-color: #0000;
  color: #4eac6d;
  color: rgba(var(--bs-primary-rgb), 1);
}
.side-menu-nav .nav-item .nav-link.active:before {
  background-color: #4eac6d;
  background-color: rgba(var(--bs-primary-rgb), 1);
}
.side-menu-nav .nav-item .nav-link:before {
  content: "";
  height: 20px;
  position: absolute;
  right: -8px;
  top: 18px;
  width: 2px;
}
@media (max-width: 991.98px) {
  .side-menu-nav .nav-item .nav-link:before {
      height: 2px;
      left: 50%;
      right: auto;
      top: -5px;
      transform: translateX(-50%);
      width: 20px;
  }
}
.side-menu-nav .nav-item .nav-link i {
  vertical-align: middle;
}
.side-menu-nav .profile-user {
  background-color: #eaeaf1;
  background-color: var(--bs-border-color);
  height: 36px;
  padding: 3px;
  width: 36px;
}
.profile-user {
  display: inline-block;
  position: relative;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: var(--bs-dropdown-link-active-bg);
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--bs-dropdown-link-hover-bg);
    color: var(--bs-dropdown-link-hover-color);
    text-decoration: none;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
  text-decoration: underline;
}
@media (min-width: 1200px) {
  .h4, h4 {
      font-size: 1.3125rem;
  }
}
// before left side end

// let side top section-===========
.chat-leftsidebar .chat-conv-list-loading-spinner{
  display: flex;
  justify-content: center;
}
.chat-leftsidebar .left-top-profile-avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.chat-leftsidebar .left-top-profile-avatar .avatar-xs{
  height: 2rem;
  width: 2rem;
}
.chat-leftsidebar .left-top-profile-avatar:hover{cursor: pointer;}
.chat-message-list {
  // height: calc(100vh - 207px);
  height: auto;
  overflow-y: auto;
}
.left-top-profile-avatar .profile-user {
  background-color: #eaeaf1;
  background-color: var(--bs-border-color);
  // height: 36px;
  // width: 36px;
  padding: 3px;
  display: inline-block;
  position: relative;
}
.left-top-profile-avatar .user-status {
  background-color: #adb5bd;
  border: 2px solid #fff;
  border: 2px solid var(--bs-secondary-bg);
  border-radius: 50%;
  bottom: 0;
  top: 33px;
  height: 10px;
  left: 36px;
  position: absolute;
  right: 0;
  width: 10px;
}
@media (max-width: 991.98px) {
  .left-top-profile-avatar .user-status {
    top: 30px;
    left: 32px;
  }
}
.profile-user-dropdown .nav-link.left-top-profile-avatar {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.profile-user-dropdown .nav-link.left-top-profile-avatar .avatar-title {
  width: 36px;
  height: 36px;
}
.profile-user-dropdown button.dropdown-item {
  --bs-dropdown-font-size: 0.9375rem;
}
.left-top-profile-avatar .user-status {
  background-color: #06d6a0;
}
.chat-msg-list-loading-spinner, .coll_date {
    display: flex;
    justify-content: center;
}
.bx.bxs-send.align-middle{
  color:var(--bs-btn-color2);
}
.selected-media-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 14px;
}
.alert-secondary {
  --bs-alert-color: var(--bs-secondary-text-emphasis);
  --bs-alert-bg: var(--bs-secondary-bg-subtle);
  --bs-alert-border-color: var(--bs-secondary-border-subtle);
  --bs-alert-link-color: var(--bs-secondary-text-emphasis);
}
.mat-drawer-inner-container{
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
    height: 96vh !important;
    max-width: 380px !important;
    min-width: 380px !important;
}
.small, small {
  font-size: .875em;
}

// chat attach file preivew start
.profile-media-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.profile-media-img .media-img-list {
  position: relative;
}
.profile-media-img .media-img-list a {
  display: block;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.profile-media-img .media-img-list a img {
  width: 76px;
  height: 76px;
  -o-object-fit: cover;
  object-fit: cover;
}
.ri-close-line:before {
  content: "\eb81";
}

// chat attach file preivew end 

@media (min-width: 992px) {
  .d-lg-none {
      display: none !important;
  }
}
// for typing bubble
.typingBubble{
  position: absolute;
  bottom: -52px;
  list-style-type: none;
  width: 100%;
}
// chat conversation loading skeleton style start here
.chat-skeleton {
  padding: 0px;
  width: 100%; /* Adjust this to take the full width of the parent container */
}

.chat-item-skeleton {
  display: flex;
  align-items: center;
  padding: 5px 17px;
  height: 50px;
}

.dark.avatar-skeleton {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: linear-gradient(90deg, #3d3d3d 25%, #838383 50%, #3d3d3d 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite ease-in-out;
}
.light.avatar-skeleton {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: linear-gradient(90deg, #e0e0e0 25%, #8a8686 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite ease-in-out;
}

.text-skeleton {
  margin-left: 10px;
  flex: 1; /* Makes the text skeleton take full width */
}

.light.name-skeleton, .light.time-skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite ease-in-out;
  border-radius: 4px;
}
.dark.name-skeleton, .dark.time-skeleton {  
  background: linear-gradient(90deg, #3d3d3d 25%, #838383 50%, #3d3d3d 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite ease-in-out;
  border-radius: 4px;
}

.name-skeleton {
  width: 100%; /* Full width with some margin */
  height: 16px;
  margin-bottom: 5px;
}

.time-skeleton {
  width: 60%; /* Half width for the timestamp */
  height: 12px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.badge{
  // font-size: 0.65rem; left: 89% !important;top: 4px !important;
  font-family: Segoe UI, Segoe UI Midlevel, sans-serif;
  outline: none;
  top: 19px !important;
  left: 34px !important;
  right: unset;
  background: rgb(216, 59, 1);
  border: 1px solid rgb(255, 147, 73);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 3.2px 7.2px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px;
  border-radius: 16px !important;
  width: 16px;
  height: 16px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  padding-bottom: 4px;
  z-index: 1;
}
// chat conversation loading skeleton style end here