.btn {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 0.9375rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: #0000;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: #0000;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: #0000;
    --bs-btn-box-shadow: inset 0 1px 0 #ffffff26, 0 1px 1px rgba(0, 0, 0, .075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0 rgba(var(--bs-btn-focus-shadow-rgb), .5);
    background-color: var(--bs-btn-bg);
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition-behavior: normal, normal, normal, normal;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-property: color, background-color, border-color, box-shadow;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.btn-primary {
    background-color: #4eac6de6 !important;
    background-color: rgba(var(--bs-primary-rgb), 0.9);
    border-color: #4eac6de6 !important;
    border-color: rgba(var(--bs-primary-rgb), 0.9);
}

.btn-link {
    --bs-btn-font-weight: 400;
    --bs-btn-color: var(--bs-link-color) !important;
    --bs-btn-bg: #0000;
    --bs-btn-border-color: #0000;
    --bs-btn-hover-color: var(--bs-link-hover-color);
    --bs-btn-hover-border-color: #0000;
    --bs-btn-active-color: var(--bs-link-hover-color);
    --bs-btn-active-border-color: #0000;
    --bs-btn-disabled-color: #797c8c;
    --bs-btn-disabled-border-color: #0000;
    --bs-btn-box-shadow: 0 0 0 #000;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
#map { height: 100%; }
.leaflet-bottom.leaflet-right{
    display: none !important;
}