.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  color: #495057;
  color: var(--bs-heading-color);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
a{
  text-decoration: none !important;
}
.d-flex {
  display: flex !important;
}
[data-simplebar] {
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
}

.simplebar-wrapper {
  height: inherit;
  max-height: inherit;
  max-width: inherit;
  overflow: hidden;
  width: inherit;
}
.simplebar-mask,
.simplebar-offset {
  bottom: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0px;
}
.simplebar-mask {
  direction: inherit;
  height: auto !important;
  left: 0;
  overflow: hidden;
  right: 0;
  width: auto !important;
  z-index: 0;
}

.simplebar-offset {
  -webkit-overflow-scrolling: touch;
  box-sizing: inherit !important;
  direction: inherit !important;
  left: 0 !important;
  resize: none !important;
  right: 0 !important;
}
.simplebar-content-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.simplebar-content-wrapper {
  box-sizing: border-box !important;
  direction: inherit;
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: 0 !important;
  position: relative;
  scrollbar-width: none;
  visibility: visible;
  width: auto;
}
.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  flex-basis: 0;
  flex-grow: inherit;
  flex-shrink: 0;
  float: left;
  height: 100%;
  margin: 0;
  max-height: 1px;
  max-width: 1px;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: relative;
  width: 100%;
  z-index: -1;
}
.simplebar-mask,
.simplebar-offset {
  position: absolute;
}

.avatar-title {
  align-items: center;
  background-color: #4eac6d;
  background-color: rgba(var(--bs-primary-rgb), 1);
  color: #fff;
  display: flex;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.user-profile-img{
  position: relative;
}

.user-profile-img .profile-img{
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.user-profile-img .overlay-content{
  background: linear-gradient(180deg, #00000080 10%, #0000 60%, #00000080);
  bottom: 0;
  color: #fff9;
  content: "";
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.user-profile-img img.profile-img {
  position: relative !important;
}

.h5,
h5 {
  font-size: 1.171875rem;
}

#user-chat .user-chat-nav .nav-btn {
  box-shadow: none;
  color: #495057bf;
  color: var(--bs-secondary-color);
  font-size: 22px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  width: 40px;
}

.user-chat-nav .nav-btn {
  box-shadow: none;
  color: #495057bf;
  color: var(--bs-secondary-color);
  font-size: 22px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  width: 40px;
}

.dropdown-menu {
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-name: DropDownSlide;
  box-shadow: 0 2px 4px #0f223a1f;
  position: absolute;
  z-index: 1000;
  --bs-dropdown-font-size: 0.9375rem;
}

.dropdown-item {
  background-color: #0000;
  border: 0;
  border-radius: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
  clear: both;
  color: var(--bs-dropdown-link-color);
  display: block;
  font-weight: 400;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
}

.font-size-16 {
  font-size: 16px !important;
}

.avatar-lg {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
}

.mt-n5 {
  margin-top: -3rem !important;
}

@media (min-width: 992px) {
  .pt-lg-2 {
    padding-top: .5rem !important;
  }
}

.font-size-14 {
  font-size: 14px !important;
}
.font-size-13 {
  font-size: 13px !important;
}
.avatar-xs {
  height: 1.8rem;
  width: 1.8rem;
}
.font-size-11 {
  font-size: 11px !important;
}
.text-muted {
  --bs-text-opacity: 1;
  color: #495057bf !important;
  color: var(--bs-secondary-color) !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.profile-desc {
  height: calc(100vh - 285px);
}

.simplebar-track.simplebar-horizontal {
  height: 11px;
  left: 0;
}
.simplebar-track {
  bottom: 0;
  right: 0;
  z-index: 1;
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}
.simplebar-scrollbar {
  min-height: 10px;
  position: absolute;
  right: 2px;
  width: 7px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  bottom: 2px;
  top: 2px;
}
.simplebar-height-auto-observer, .simplebar-track {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}
.simplebar-scrollbar:before {
  background: #a2adb7;
  border-radius: 7px;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: opacity .2s linear;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: .5;
  transition: opacity 0s linear;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  height: 1000%;
  left: 0;
  min-height: 1px;
  min-width: 1px;
  opacity: 0;
  top: 0;
  width: 1000%;
  z-index: -1;
}

.font-size-12 {
  font-size: 12px !important;
}

.bg-overlay {
  background-color: #212529b3;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.profile-media-img .media-img-list .image-remove,
.profile-media-img .media-img-list a .bg-overlay {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
}

.user-status {
  background-color: #adb5bd;
  border: 2px solid #fff;
  border: 2px solid var(--bs-secondary-bg);
  border-radius: 50%;
  bottom: 0;
  top: 67px;
  height: 13px;
  /* left: 36px; */
  position: absolute;
  right: 117px;
  width: 13px;
}

@media (max-width: 991.98px) {
  .user-status {
    top: 59px;
    right: 18px;
    position: relative;
  }
}

.profile-media-img .media-img-list .image-remove,
.profile-media-img .media-img-list a .bg-overlay {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
}

.profile-media-img .media-img-list a img {
  width: 68px !important;
}

.profile-media-img {
  flex-wrap: wrap;
}
// chat attach file preivew start
.profile-media-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.profile-media-img .media-img-list {
  position: relative;
}
.profile-media-img .media-img-list a {
  display: block;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.profile-media-img .media-img-list a img {
  width: 76px;
  height: 76px;
  -o-object-fit: cover;
  object-fit: cover;
}
.ri-close-line:before {
  content: "\eb81";
}

// Profile tab content end