#contactSearchbtn-addon {
  background-color: rgba(var(--bs-light-rgb), .75);
  color: var(--bs-btn-color);
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  position: absolute;
  right: 0px;
  z-index: 5;
}
.btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 0.9375rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  // --bs-btn-bg: #0000;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: #0000;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: #0000;
  --bs-btn-box-shadow: inset 0 1px 0 #ffffff26, 0 1px 1px rgba(0,0,0,.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0 rgba(var(--bs-btn-focus-shadow-rgb),.5);
  background-color: var(--bs-btn-bg);
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
}
.form-control {
  -webkit-appearance: none;
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  background-color: var(--bs-input-bg);
  border: 1px solid #eaeaf1;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: .25rem;
  border-radius: var(--bs-border-radius);
  color: #495057;
  color: var(--bs-body-color);
  display: block;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .5rem 1rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;
}
.form-control:focus {
  background-color: #fff;
  background-color: var(--bs-input-bg);
  border-color: #eaeaf1;
  border-color: var(--bs-border-color);
  box-shadow: 0 0 0 0 #4eac6d40;
  color: #495057;
  color: var(--bs-body-color);
  outline: 0;
}